# Configures the Bash environment to call Glimpse scripts.

SCRIPT_PATH="${BASH_SOURCE[0]}";
DIR="$( cd "$( dirname "$BASH_SOURCE[0]" )/.." && pwd )"

OSNAME=$(python -c 'import os; print os.uname()[0].lower()')
MACH=$(uname -m)
PYVERSION=$(python -c 'import sys; print "%d.%d" % sys.version_info[0:2]')

BIN=$DIR/bin
TOOLS=$DIR/tools/$MACH
PATH=$BIN:$TOOLS:$PATH

BUILDDIR=$DIR/build/lib.$OSNAME-$MACH-$PYVERSION
export PYTHONPATH=$BUILDDIR:$PYTHONPATH
